<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/bee0cc366d.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans|Source+Sans+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>Postit</title>
</head>
<body>
    <section>
        <div class="create-group">
            <div class="group">
                <div class="head-text">
                <h1>Create a new group</h1>
                </div>
                <div class="add-groupname">
                    <input type="text" placeholder="GroupName" >      
                </div>
                <div class="add-groupdesc">
                    <input type="text" placeholder="Group Description(optional)">
                </div>
                <div class="add-people">
                    <i class="fas fa-user-plus"> Add people</i>
                    <button class="add">Create group</button>
                </div>
            </div>
            
        </div>
    </section>
    
</body>
</html>